<h2>{{pageTitle | translate}}</h2>
<div class="container col-sm-4">
    <form id="editItemForm" novalidate class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.name">{{'ITEM_NAME' | translate}}</label>
            <div class="col-sm-9">
                <input class="form-control"  ng-model="currentItem.name" type="text" id="edit.name"
                       placeholder="{{'ENTER_ITEM_NAME' | translate}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.description">{{'ITEM_DESCRIPTION' | translate}}</label>
            <div class="col-sm-9">
                <input class="form-control"  ng-model="currentItem.description" type="text" id="edit.description"
                       placeholder="{{'ENTER_ITEM_DESCRIPTION' | translate}}">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.price">{{'ITEM_PRICE' | translate}}</label>
            <div class="col-sm-9">
                <input class="form-control"  ng-model="currentItem.price" type="text" id="edit.price"
                       placeholder="{{'ENTER_ITEM_PRICE' | translate}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.department">{{'DEPARTMENT' | translate}}:</label>
            <div class="col-sm-4">
                <select class="form-control" id="edit.department" ng-model="currentItem.department"
                        ng-options="dep | translate for dep in departments" required>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-offset-3 col-sm-9">
                <button type="button" class="btn btn-default" ng-click="saveItem(currentItem)" ng-disabled="editItemForm.$invalid">{{'SAVE' | translate}}</button>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-8">
    <div class="form-group row">
        <label class="control-label col-sm-3" for="edit.image">{{'ITEM_IMAGE' | translate}}</label>
        <div class="col-sm-9">
            <input class="form-control" type="file" id="edit.image" placeholder="{{'ENTER_ITEM_IMAGE' | translate}}"
                   ngf-select ng-model="currentItem.images" name="file" ngf-pattern="'image/*'"
                   ngf-accept="'image/*'" ngf-max-size="40MB" ngf-min-height="100"
                   ngf-resize="{width: 400, height: 400, quality: 1.0}" ngf-resize-if="$width > 400 || $height > 400"
                   ngf-multiple="true"/>
            <!--Drop files:-->
            <!--                <div ngf-drop ng-model="files" class="drop-box">Drop</div>-->
            <div style="height: 305px">
                <div uib-carousel active="active" ng-if="!currentItem.dataUrls || currentItem.dataUrls.length !== 0"><!--interval="0" no-wrap="true"-->
                    <div uib-slide ng-repeat="slide in slides" index="slide.id">
                        <img ng-src="{{slide.image}}" style="width: 400px;height: 300px;margin:auto;"><!--style="width: 400px;height: 400px"-->
                        <!--<div class="carousel-caption">
                            <h4>Slide {{$index}}</h4>
                            <p>{{slide.text}}</p>
                        </div>-->
                        <div class="carousel-caption">
                            <i class="glyphicon glyphicon-remove" ng-click="deleteImage(slide.image)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>