<h2>{{'ITEMS' | translate}}</h2>
<div st-table="items" st-pipe="updateTable">
    <div id="itemsTable">
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="4"><input st-search="" class="form-control-sm col-lg-8" placeholder="{{'SEARCH' | translate}}" type="text"/></th>
                <th></th>
                <th></th>
                <th>
                    <div class="btn-group-sm inline-row" role="group">
                        <button type="button" class="btn-sm btn-primary" ng-click="navigateToCreate()">{{'CREATE' | translate}}</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th hidden>Id</th>
                <th>#</th>
                <th st-sort="name">{{'ITEM_NAME' | translate}}</th>
                <th st-sort="description">{{'ITEM_DESCRIPTION' | translate}}</th>
                <th st-sort="cost">{{'ITEM_COST' | translate}}</th>
                <th st-sort="department">{{'DEPARTMENT' | translate}}</th>
                <th>{{'ITEM_IMAGE' | translate}}</th>
                <th>
                    <select class="form-control-sm" id="itemsByPageDropDown"
                            ng-options="opt for opt in pagination.availableOptions" ng-model="pagination.itemsPerPage">
                    </select>
                </th>
            </tr>
            </thead>
            <tbody ng-show="!isLoading">
            <tr ng-repeat="item in items | filter : search">
                <td hidden>{{item.id}}</td>
                <td>{{pagination.from+$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.cost}}</td>
                <td>{{item.department | translate}}</td>
                <td>{{item.imageUrl}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-primary" ng-click="navigateToEdit(item)">{{'INFO' | translate}}</button>
                        <button class="btn btn-danger" ng-click="deleteItem(item)">{{'DELETE' | translate}}</button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <!--<td colspan="7" class="my_table_footer">
                        <ul uib-pagination direction-links="false" total-items="pagination.totalItems"
                            items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage"
                            ng-change="getItems()"></ul>
                    </td>-->
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="pagination.itemsPerPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>