<h2>{{pageTitle | translate}}</h2>
<div class="container col-sm-5">
    <form name="editOrderForm" novalidate class="form-horizontal">
        <div class="form-group row" hidden>
            <label class="control-label col-sm-3" for="edit.orderId">Id:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="currentOrder.id" class="form-control" id="edit.orderId">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.orderName">{{'ORDER_NAME' | translate}}:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="currentOrder.name" class="form-control" id="edit.orderName"
                       placeholder="{{'ENTER_NAME_ORDER' | translate}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.description">{{'DESCRIPTION' | translate}}:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="currentOrder.description" class="form-control" id="edit.description"
                       placeholder="{{'ENTER_ORDER_DESCRIPTION' | translate}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.dueDate">{{'DUE_DATE' | translate}}:</label>
            <div class="col-sm-5">
                <input type="datetime-local" ng-model="currentOrder.dueDate" class="form-control" id="edit.dueDate" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.status">{{'STATUS' | translate}}:</label>
            <div class="col-sm-9">
                <input type="text" ng-value="currentOrder.status | translate" class="form-control" id="edit.status"
                       placeholder="{{'STATUS' | translate}}" disabled>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" ng-click="saveOrder(currentOrder)" class="btn btn-default" ng-disabled="editOrderForm.$invalid">{{'SAVE' | translate}}</button>
            </div>
        </div>
    </form>
    <div id="itemsTable">
    <table class="table table-striped">
        <thead>
        <tr>
            <th hidden>Id</th>
            <th>#</th>
            <th>{{'ITEM_NAME' | translate}}</th>
            <th>{{'DESCRIPTION' | translate}}</th>
            <th>{{'ITEM_COST' | translate}}</th>
            <th>{{'ITEM_IMAGE' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in currentOrder.items">
            <td hidden>{{item.id}}</td>
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.cost}}</td>
            <td>{{item.image}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>