<!DOCTYPE html>
<html>
<head>
    <title>Horns and Hooves</title>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
</head>
<body>
<div ng-app="mainApp">
    <a href="#/orders">orders</a>
    <a href="#/employee">workers</a>
    <div ng-view></div>

    <script type="text/ng-template" id="addOrder.htm">
        <h2>Create order</h2>
        <table class="entityTextAlign">
            <tr>
                <th>Name:</th><td><input type="text" ng-model="order.name" required></td>
            </tr>
            <tr>
                <th>Date:</th><td><input type="text" ng-model="order.date" required></td>
            </tr>
            <tr>
                <th>Employee:</th><td><input type="text" ng-model="order.employee_id"></td>
            </tr>
            <tr>
                <th>Department:</th><td><input type="text" ng-model="order.department_id" required></td>
            </tr>
            <tr>
                <th></th><td><input type="button" ng-click="createOrder()" value="Create"></td>
            </tr>
        </table>
    </script>
    <script type="text/ng-template" id="editOrder.htm">
        <h2>Edit order</h2>
        <table class="entityTextAlign">
            <tr>
                <th>Id:</th><td><input type="text" ng-model="order.id" required readonly></td>
            </tr>
            <tr>
                <th>Name:</th><td><input type="text" ng-model="order.name" required></td>
            </tr>
            <tr>
                <th>Date:</th><td><input type="text" ng-model="order.date" required></td>
            </tr>
            <tr>
                <th>Department:</th><td><input type="text" ng-model="order.department_id" required></td>
            </tr>
            <tr>
                <th></th><td><input type="button" ng-click="saveOrder(order)" value="Save"></td>
            </tr>
        </table>
    </script>
    <script type="text/ng-template" id="viewOrders.htm">
        <a href="#/addOrder">Create Order</a>
        <h2>Orders</h2>
        Search: <input type="text" ng-model="search">


        <input type="text" ng-model="dep">
        <input type="button" ng-click="ordersByDep(dep)" value="by Department">

        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th colspan="2">Options</th>
            </tr>
            <tr ng-repeat="order in orders | filter : search">
                <td>{{order.id}}</td>
                <td>{{order.name}}</td>
                <td>{{order.date}}</td>
                <td><a href="" ng-click="editOrder(order)">edit</a></td>
                <td><a href="" ng-click="deleteOrder(order)">delete</a></td>
            </tr>
        </table>
    </script>


    <script type="text/ng-template" id="addEmp.htm">
        <h2>Create employee</h2>
        <table class="entityTextAlign">
            <tr>
                <th>Name:</th><td><input type="text" ng-model="emp.name" required></td>
            </tr>
            <tr>
                <th>SurName:</th><td><input type="text" ng-model="emp.surName" required></td>
            </tr>
            <tr>
                <th>MiddleName:</th><td><input type="text" ng-model="emp.middleName"></td>
            </tr>
            <tr>
                <th>Department:</th><td><input type="text" ng-model="emp.department_id"></td>
            </tr>
            <tr>
                <th></th><td><input type="button" ng-click="createEmp()" value="Create"></td>
            </tr>
        </table>
    </script>
    <script type="text/ng-template" id="editEmp.htm">
        <h2>Employee information</h2>
        <table class="entityTextAlign">
            <tr>
                <th>Id:</th><td><input type="text" ng-model="emp.id" required readonly></td>
            </tr>
            <tr>
                <th>Name:</th><td><input type="text" ng-model="emp.name" required></td>
            </tr>
            <tr>
                <th>SurName:</th><td><input type="text" ng-model="emp.surName" required></td>
            </tr>
            <tr>
                <th>MiddleName:</th><td><input type="text" ng-model="emp.middleName" required></td>
            </tr>
            <tr>
                <th>Department:</th><td><input type="text" ng-model="emp.department_id" required></td>
            </tr>
            <tr>
                <th></th><td><input type="button" ng-click="saveEmp(emp)" value="Save"></td>
            </tr>
        </table>

        <h3>orders for {{emp.name}} :</h3>
        Search: <input type="text" ng-model="search">
       <!-- <input type="text" ng-model="id">
        <input type="button" ng-click="ordersByEmpId(id)" value="by Department">-->

        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="order in orders | filter : search">
                <td>{{order.id}}</td>
                <td>{{order.name}}</td>
                <td>{{order.date}}</td>
                <td><a href="" ng-click="editOrder(order)">edit</a></td>
                <td><a href="" ng-click="deleteOrder(order)">delete</a></td>
            </tr>
        </table>
    </script>
    <script type="text/ng-template" id="viewEmps.htm">
        <a href="#/addEmp">Create employee</a>
        <h2>Workers</h2>
        Search: <input type="text" ng-model="search">
        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>MiddleName</th>
                <th colspan="2">Options</th>
            </tr>
            <tr ng-repeat="emp in emps | filter : search">
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.surName}}</td>
                <td>{{emp.middleName}}</td>
                <td><a href="" ng-click="editEmp(emp)">info</a></td>
                <td><a href="" ng-click="deleteEmp(emp)">delete</a></td>
            </tr>
        </table>
    </script>
</div>
<script src="js/angularView/orders/orderCRUDconfig.js"></script>
<script src="js/angularView/employee/empCRUDconfig.js"></script>
</body>
</html>