<div class="alert alert-{{mode}}" style="margin: 0px;">
    <form class="form-inline" style="height: 100%;">
        <div class="form-group" style="width: 85%; height: 100%;">
            <strong style="margin:0">{{message}}</strong>
        </div>
        <div class="form-group" style="width: 14%; height: 100%; vertical-align: middle;">
            <button type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" ng-click="ok()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
    </form>
</div>
