/* Правило для всех элементов, с которыми не взаимодействовал пользователь*/
form .ng-pristine {
    border: 1px dotted gray;
}
/* Данное правило распространяется на все элементы с которыми взаимодействовал прользователь и которые не прошли проверку */
form .ng-invalid.ng-dirty {
    background-color: lightpink;
}
/* Правило для всех элементов, которые прошли проверку после взаимодействия с пользователем */
form .ng-valid.ng-dirty {
    background-color: lightgreen;
}
/* класс, который присваивает оформление для неправильно заполненных полей для email */
form .ng-invalid-email {
    color: red;
}
/*
    Валидация происходит после каждого изменения в форме.
    Два следующих правила используются для элемента span в конце формы.
*/
/*span.summary.ng-invalid {
    color: red;
    font-weight: bold;
}
span.summary.ng-valid {
    color: green;
}*/


/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 10px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.green {
    color: green;
}
div.error {
    color: red;
    font-weight: bold;
}
table {
    margin: auto;
}
