<h2>{{pageTitle | translate}}</h2>
<div class="container col-sm-5">
    <form name="editUserForm" novalidate class="form-horizontal">
        <div class="form-group row" hidden>
            <label class="control-label col-sm-3" for="edit.id">Id:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="currentUser.id" class="form-control" id="edit.id">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.logonName">{{'LOGON_NAME' | translate}}:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="currentUser.logonName" class="form-control" id="edit.logonName"
                       placeholder="{{'ENTER_LOGON_NAME' | translate}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.password">{{'PASSWORD' | translate}}:</label>
            <div class="col-sm-9">
                <input type="password" ng-model="currentUser.password" class="form-control" id="edit.password" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.surname">{{'SURNAME' | translate}}:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="currentUser.surname" class="form-control" id="edit.surname"
                       placeholder="{{'ENTER_SURNAME' | translate}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.name">{{'NAME' | translate}}:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="currentUser.name" class="form-control" id="edit.name"
                       placeholder="{{'ENTER_NAME' | translate}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.address">{{'ADDRESS' | translate}}:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="currentUser.address" class="form-control" id="edit.address"
                       placeholder="{{'ENTER_ADDRESS' | translate}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.phone">{{'PHONE' | translate}}:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="currentUser.phone" class="form-control" id="edit.phone"
                       placeholder="{{'ENTER_PHONE' | translate}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.email">{{'EMAIL' | translate}}:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="currentUser.email" class="form-control" id="edit.email"
                       placeholder="{{'ENTER_EMAIL' | translate}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="edit.department">{{'DEPARTMENT' | translate}}:</label>
            <div class="col-sm-9">
                <select class="form-control"  id="edit.department" ng-model="currentUser.department"
                        ng-options="dep | translate for dep in departments">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" ng-click="saveUser(currentUser)" class="btn btn-default" ng-disabled="editUserForm.$invalid">{{'SAVE' | translate}}</button>
            </div>
        </div>
    </form>
</div>
<!--<h3>orders for {{employee.name}} :</h3>
<h3>department id: {{selectedDep}}</h3>
<table class="table table-striped">-->
</table>