<h2>{{'USERS' | translate}}</h2>
<div st-table="usersRecords" st-safe-src="users">
    <div id="userTable">
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="4"><input st-search="" class="form-control-sm col-lg-8" placeholder="{{'SEARCH' | translate}}" type="text"/></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <div class="btn-group-sm inline-row" role="group">
                        <button type="button" class="btn-sm btn-primary" ng-click="navigateToCreate()">{{'CREATE' | translate}}</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th hidden>Id</th>
                <th>#</th>
                <th st-sort="logonName">{{'LOGON_NAME' | translate}}</th>
                <th st-sort="surname">{{'SURNAME' | translate}}</th>
                <th st-sort="name">{{'NAME' | translate}}</th>
                <th st-sort="department">{{'DEPARTMENT' | translate}}</th>
                <th st-sort="address">{{'ADDRESS' | translate}}</th>
                <th st-sort="email">{{'EMAIL' | translate}}</th>
                <th st-sort="phone">{{'PHONE' | translate}}</th>
                <th>
                    <select class="form-control-sm" id="itemsByPageDropDown" ng-change="getUsers()"
                            ng-options="opt for opt in pagination.availableOptions" ng-model="pagination.itemsPerPage">
                    </select>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in usersRecords | filter: search"> <!--ng-click="navigateToEdit(user)"-->
                <td hidden>{{user.id}}</td>
                <td>{{$index+1}}</td>
                <td>{{user.logonName}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.name}}</td>
                <td>{{user.department | translate}}</td>
                <td>{{user.address}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" ng-click="navigateToEdit(user)">{{'INFO' | translate}}</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteUser(user)">{{'DELETE' | translate}}</button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <!--<tr>
                    <td colspan="10" class="text-center">
                        <div st-pagination="" st-items-by-page="dropdown.itemsByPage" st-displayed-pages="10"></div>
                    </td>
                </tr>-->
                <tr>
                    <td colspan="9" class="my_table_footer">
                        <ul uib-pagination direction-links="false" total-items="pagination.totalItems"
                            items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage"
                            ng-change="getUsers()"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>