<div ng-controller="AddOrderController">
    <h2>Create order</h2>
<div class="container col-sm-5">
    <form name="addOrderForm" novalidate class="form-horizontal">
        <div class="form-group row">
            <label class="control-label col-sm-3" for="create.orderName">Name:</label>
            <div class="col-sm-9 inner-addon right-addon">
                <!--<span class="glyphicon glyphicon-ok green" ng-show="ordName.$valid"></span>-->
                <input type="text" ng-model="order.name" class="form-control" name="ordName" id="create.orderName"
                       placeholder="Enter name" required>
                <!-- <div class="error" ng-show="addOrderForm.ordName.$invalid && addOrderForm.ordName.$dirty">
                     {{getError(addOrderForm.ordName.$error)}}
                 </div>-->
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="create.orderDate">Date:</label>
            <div class="col-sm-9">
                <input type="datetime-local" ng-model="order.dateTime" class="form-control"
                       id="create.orderDate"
                       placeholder="Enter date" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="create.orderDepartment">Type:</label>
            <div class="col-sm-9">
                <select class="form-control" id="create.orderDepartment" ng-model="selectedDep"
                        ng-options="dep.name for dep in deps track by dep.id" ng-change="refreshEmp()" required>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-3" for="create.orderEmployee">Employee:</label>
            <div class="col-sm-9">
                <select class="form-control" id="create.orderEmployee" ng-model="selectedEmp"
                        ng-options="employee as emp.name+' '+emp.surName for emp in employees track by emp.id">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" ng-click="createOrder()" class="btn btn-default" ng-disabled="addOrderForm.$invalid">Create</button>
            </div>
        </div>
    </form>
</div>
</div>