<h2>Orders</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th><!--On page:<select class="form-control" ng-options="item in itemsByPage" ></select>--></th>
        <th colspan="2"><!--<input st-search placeholder="search" class="form-control col-lg-2" type="search"/>--></th>
        <th><a href="" class="btn btn-primary" ng-click="navigateToCreate()">Create Order</a></th>
    </tr>
    <tr>
        <th hidden>Id</th>
        <th>#</th>
        <th>Name</th>
        <th>Date</th>
        <th>Department</th>
        <th>Employee</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders | filter : search">
        <td hidden>{{order.id}}</td>
        <td>{{$index+1}}</td>
        <td>{{order.name}}</td>
        <td>{{order.dateTime}}</td>
        <td>{{order.departmentId}}</td>
        <td>{{order.employeeId}}</td>
        <td>
            <div class="btn-group btn-group" role="group" aria-label="...">
                <a href="" class="btn btn-primary" ng-click="editOrder(order)">edit</a>
                <a href="" class="btn btn-danger" ng-click="deleteOrder(order)">delete</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>