<h2>{{'PERSONS' | translate}}</h2>
<div st-table="personsRecords" st-safe-src="persons">
    <div class="row inline-row">
        <div class="inline-row-part">
            <button type="button" class="btn btn-primary" ng-click="navigateToCreate()">{{'CREATE' | translate}}</button>
        </div>
        <div class="inline-row-part">
            <input st-search="" class="form-control col-lg-2" placeholder="{{'SEARCH' | translate}}" type="text"/>
        </div>
        <div class="inline-row-part pull-right">
            <label for="itemsByPageDropDown">{{'SHOW_ON_PAGE' | translate}}</label>
            <select class="form-control" id="itemsByPageDropDown"
                    ng-options="opt for opt in dropdown.availableOptions" ng-model="dropdown.itemsByPage">
            </select>
        </div>
    </div>
    <div id="personTable">
        <table class="table table-striped">

            <thead>
            <tr>
                <th hidden>Id</th>
                <th>#</th>
                <th st-sort="surname">{{'SURNAME' | translate}}</th>
                <th st-sort="name">{{'NAME' | translate}}</th>
                <th st-sort="middleName">{{'MIDDLE_NAME' | translate}}</th>
                <th st-sort="department">{{'DEPARTMENT' | translate}}</th>
                <th st-sort="address">{{'ADDRESS' | translate}}</th>
                <th st-sort="email">{{'EMAIL' | translate}}</th>
                <th st-sort="phone">{{'PHONE' | translate}}</th>
                <th>{{'OPTIONS' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in personsRecords | filter: search">
                <td hidden>{{person.id}}</td>
                <td>{{$index+1}}</td>
                <td>{{person.surname}}</td>
                <td>{{person.name}}</td>
                <td>{{person.middleName}}</td>
                <td>{{person.department | translate}}</td>
                <td>{{person.address | translate}}</td>
                <td>{{person.email | translate}}</td>
                <td>{{person.phone | translate}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" ng-click="navigateToEdit(person)">{{'INFO' | translate}}</button>
                        <button type="button" class="btn btn-danger" ng-click="deletePerson(person)">{{'DELETE' | translate}}</button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="10" class="text-center">
                    <div st-pagination="" st-items-by-page="dropdown.itemsByPage" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>