<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <title>Horns and Hooves</title>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <script src="helpfulLib/angular-1.5.8/angular.min.js"></script>
    <script src="helpfulLib/angular-1.5.8/angular-route.min.js"></script>

    <link rel="stylesheet" href="helpfulLib/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="helpfulLib/bootstrap-3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <a href="#/orders" class="btn btn-default">orders</a>
        <a href="#/employee" class="btn btn-default">workers</a>
    </div>

    <div ng-view></div>

    <script type="text/ng-template" id="addOrder.htm">
        <h2>Create order</h2>
        <div class="container col-sm-5">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="create.orderName">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="order.name" class="form-control" id="create.orderName"
                               placeholder="Enter name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="create.orderDate">Date:</label>
                    <div class="col-sm-9">
                        <input type="datetime-local" ng-model="order.dateTime" class="form-control"
                               id="create.orderDate"
                               placeholder="Enter date" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="create.orderDepartment">Type:</label>
                    <div class="col-sm-9">
                         <select class="form-control" id="create.orderDepartment" ng-model="selectedDep"
                                 ng-options="dep.name for dep in deps track by dep.id" ng-change="refreshEmp()">
                         </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="create.orderEmployee">Employee:</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="create.orderEmployee" ng-model="selectedEmp"
                                ng-options="emp.name for emp in employees track by emp.id">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" ng-click="createOrder()" class="btn btn-default">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="editOrder.htm">
        <h2>Edit order</h2>
        <div class="container col-sm-5">
            <form class="form-horizontal">
                <div class="form-group row" hidden>
                    <label class="control-label col-sm-3" for="edit.orderId">Id:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="order.id" class="form-control" id="edit.orderId" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.orderName">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="order.name" class="form-control" id="edit.orderName"
                               placeholder="Enter name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.orderDate">Date:</label>
                    <div class="col-sm-9">
                        <input type="datetime-local" ng-model="created_time" class="form-control" id="edit.orderDate"
                               placeholder="Enter date" pattern="dd-MM-yyyy HH:mm" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.orderDepartment">Department:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="order.department_id" class="form-control"
                               id="edit.orderDepartment" placeholder="Enter department:" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.orderEmployee">Employee:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="order.employee_id" class="form-control"
                               id="edit.orderEmployee" placeholder="Enter employee:">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" ng-click="saveOrder(order)" class="btn btn-default">Save order</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="viewOrders.htm">
        <h2>Orders</h2>
        <div class="form-group">
            <label class="control-label col-sm-1" for="order.search">Search:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="order.search" ng-model="search">
            </div>
            <a href="#/addOrder" class="btn btn-primary col-sm-offset-6 col-sm-2">Create Order</a>
        </div>
        <!--<input type="text" ng-model="dep">
        <input type="button" ng-click="ordersByDep(dep)" value="by Department">-->

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th hidden>Id</th>
                <th>#</th>
                <th>Name</th>
                <th>Date</th>
                <th>Department</th>
                <th>Employee</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders | filter : search">
                <td hidden>{{order.id}}</td>
                <td>{{$index+1}}</td>
                <td>{{order.name}}</td>
                <td>{{order.dateTime}}</td>
                <td>{{order.department}}</td>
                <td>{{order.employee}}</td>
                <td>
                    <div class="btn-group btn-group" role="group" aria-label="...">
                        <a href="" class="btn btn-primary" ng-click="editOrder(order)">edit</a>
                        <a href="" class="btn btn-danger" ng-click="deleteOrder(order)">delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </script>


    <script type="text/ng-template" id="addEmp.htm">
        <h2>Create employee</h2>
        <div class="container col-sm-5">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.empName">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="emp.name" class="form-control" id="create.empName"
                               placeholder="Enter name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.empSurName">Surname:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="emp.surName" class="form-control" id="create.empSurName"
                               placeholder="Enter surname" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.empMiddleName">Middlename:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="emp.middleName" class="form-control" id="create.empMiddleName"
                               placeholder="Enter middlename">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.empDepartment">Department:</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="selectDep" ng-model="selectedOpt"
                                id="create.empDepartment"
                            ng-options="dep.name for dep in deps track by dep.id">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" ng-click="createEmp()" class="btn btn-default">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/ng-template" id="editEmp.htm">
        <h2>Employee information</h2>
        <div class="container col-sm-5">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.empName">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="emp.name" class="form-control" id="edit.empName"
                               placeholder="Enter name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.empSurName">Surname:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="emp.surName" class="form-control" id="edit.empSurName"
                               placeholder="Enter surname" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.empMiddleName">Middlename:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="emp.middleName" class="form-control" id="edit.empMiddleName"
                               placeholder="Enter middlename">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3" for="edit.empDepartment">Department:</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="selectDep" ng-model="editEmpSelectedDep"
                                id="edit.empDepartment"
                                ng-options="dep.name for dep in deps track by dep.id">
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <h3>orders for {{emp.name}} :</h3>
        <table class="table table-striped">
        </table>
    </script>
    <script type="text/ng-template" id="viewEmps.htm">
        <h2>Workers</h2>
        <div class="form-group">
            <label class="control-label col-sm-1" for="emp.search">Search:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="emp.search" ng-model="search">
            </div>
            <a href="#/addEmp" class="btn btn-primary col-sm-offset-6 col-sm-2">Create employee</a>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th hidden>Id</th>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>MiddleName</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="emp in emps | filter : search">
                <td hidden>{{emp.id}}</td>
                <td>{{$index+1}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.surName}}</td>
                <td>{{emp.middleName}}</td>
                <td>
                    <div class="btn-group btn-group" role="group" aria-label="...">
                        <a href="" class="btn btn-primary" ng-click="editEmp(emp)">info</a>
                        <a href="" class="btn btn-danger" ng-click="deleteEmp(emp)">delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </script>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="helpfulLib/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<script src="js/orderCRUDconfig.js"></script>
<script src="js/employeeCRUDconfig.js"></script>
</body>
</html>